<footer class="p-20">
    <div class="contenido-arriba-footer flex items-center">
        <div class="parte-izquierda w-[30%]">
            <div class="texto-nombre flex flex-col gap-4">
                <p class="text-2xl font-bold">Miguel Coco Hernández</p>
                <p class="text-gray-600">Creando experiencias web excepcionales con pasión y dedicación.</p>
            </div>
        </div>
        
        <div class="parte-derecha w-[70%] flex justify-around items-center">
            <div class="navegacion flex flex-col gap-4">
                <p class="text-[16px]">Navegación</p>
                <a href="/" class="text-[12px] text-gray-600 hover:text-blue-400">Sobre Mi</a>
                <a href="/about" class="text-[12px] text-gray-600 hover:text-blue-400">Skills</a>
                <a href="/projects" class="text-[12px] text-gray-600 hover:text-blue-400">Proyectos</a>
                <a href="/contact" class="text-[12px] text-gray-600 hover:text-blue-400">Contacto</a>
            </div>

            <div class="servicios flex flex-col gap-4">
                <p class="text-[16px]">Servicios</p>
                <p class="text-[12px] text-gray-600">Desarrollo web</p>
                <p class="text-[12px] text-gray-600">Desarrollo de aplicaciones</p>
                <p class="text-[12px] text-gray-600">APIs Y Backend</p>
            </div>

            <div class="contacto flex flex-col gap-4">
                <p class="text-[16px]">Contacto</p>
                <p class="text-[12px] text-gray-600">cocohernandezmiguel@gmail.com</p>
                <p class="text-[12px] text-gray-600">+34 662 29 55 62</p>
                <p class="text-[12px] text-gray-600">Salamanca, Castilla y León, España</p>
            </div>
        </div>
    </div>

    <div class="separacion mt-10 mb-10 border-[0.5px] border-gray-200"></div>

    <div class="contenido-abajo flex justify-between items-center">
        <p class="text-[14px] text-gray-500">Hecho por Miguel Coco Hernández © 2025</p>
        <p class="text-[14px] text-gray-500">Todos los derechos reservados</p>
    </div>
</footer>