<header id="header" class="sticky top-0 z-50 backdrop-blur-sm transition-shadow rounded-lg duration-300">
    <div class="navegacion px-6 py-6 flex justify-center items-center gap-12">
        <nav class="flex gap-6 sm:gap-8 md:gap-12">
            <a href="#sobreMi" class="hover:text-blue-400">Sobre Mi</a>
            <a href="#tecnologias" class="hover:text-blue-400">Tecnologías</a>
            <a href="#proyectos" class="hover:text-blue-400">Proyectos</a>
            <a href="#contacto" class="hover:text-blue-400">Contacto</a>
        </nav>
    </div> 
</header>

<script>
  window.addEventListener("scroll", () => {
    const header = document.getElementById("header");

    if (window.scrollY > 0) {
      header?.classList.add("shadow-md"); // aplica sombra
    } else {
      header?.classList.remove("shadow-md"); // la quita
    }
  });
</script>
