<header class="m-6 p-6 flex justify-center items-center sticky ">
    <nav class="flex gap-12">
        <a href="/" class="hover:text-blue-400">Sobre Mi</a>
        <a href="/about" class="hover:text-blue-400">Skills</a>
        <a href="/projects" class="hover:text-blue-400">Proyectos</a>
        <a href="/contact" class="hover:text-blue-400">Contacto</a>
    </nav>
</header>