<section class="min-h-svh flex flex-col">
     <div class="titulo-seccion flex justify-center items-center mt-20">
        <h2 class="text-4xl font-bold">Proyectos</h2>
    </div>

    <div class="subtitulo-seccion">
        <p class="text-center text-lg mt-6 text-gray-600">Una selección de mis trabajos más recientes y relevantes</p>
    </div>
</section>