<section id="sobreMi" class="min-h-svh flex flex-col">
    <div class="titulo-seccion flex justify-center items-center">
        <h2 class="text-4xl font-bold">Sobre mí</h2>
    </div>
    <div class="subtitulo-seccion">
        <p class="text-center text-lg mt-6 text-gray-600">Conoce un poco más sobre mi experiencia y pasión por el desarrollo</p>
    </div>

    <div class="tarjeta-mihistoria p-12 border border-gray-300 rounded-lg shadow-md mt-14 max-w-4xl mx-auto">
        <h3 class="text-2xl font-semibold mb-4 text-center">Mi Historia</h3>
        <p class="text-gray-700 leading-relaxed">
           Soy un desarrollador Full Stack con experiencia creando aplicaciones web y móviles modernas. Me especializo en Angular, TailwindCSS, TypeScript, Docker, Java y Spring Boot, asi como todas las tecnologías relaccionadas con Spring. Siempre enfocado en hacer código limpio.
        </p>

        <p class="text-gray-700 leading-relaxed mt-4">
            Mi pasión por la tecnología me impulsa a estar constantemente aprendiendo y adaptándome a las nuevas tendencias del desarrollo.
        </p>
        
        <p class="text-gray-700 leading-relaxed mt-4">
            Fuera del desarrollo me gusta el deporte y trabajar en equipo, creo que es fundamental para crecer tanto personal como profesionalmente.
        </p>

        <div class="padre-boton-descargar-cv flex justify-center">
            <a href="/assets/CV-MiguelCocoHernandez.pdf" download>
                <div class="boton-descargar-cv flex gap-4 mt-6 bg-blue-500 text-white px-6 py-2 rounded hover:bg-blue-600 transition">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-icon lucide-file"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"/><path d="M14 2v4a2 2 0 0 0 2 2h4"/></svg>
                    <p>
                        Descargar CV
                    </p>
                </div>
            </a>
        </div>
        
    </div>
</section>